
@using TrucksTakov.Models.Order;
@model IEnumerable<TrucksTakov.Models.Truck.TruckIndexVM>

@{
    ViewData["Title"] = "Dumper";
}

<center><h1>Dumper</h1></center>
<br />
@if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
{
    <p>
        <a asp-action="Create">Create New Truck</a>
    </p>
}
<table class="table">
    <thead>

        <tr>
            <th>
                @*  @Html.DisplayNameFor(model => model.ManufacturerName)*@
                MName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Model)
                Model*@
                Mod
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
            <th>
                @* @Html.DisplayNameFor(model => model.CategoryName)*@
                CName
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Image)*@
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @*   @Html.DisplayNameFor(model => model.Engine)*@
                Eng
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Loadcapacity)*@
                LCap
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Quantity)*@
                Qntty
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Price)*@
                $
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Description)

            </th>*@
            <th>
                @* @Html.DisplayNameFor(model => model.Discount)*@
                Discount
            </th>
            @if (this.User.Identity.IsAuthenticated)
            {

                <th>Order</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.ManufacturerId)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Image" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loadcapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Description)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Discount) %
                </td>

                @if (this.User.Identity.IsAuthenticated)
                {
                    <td>
                        @await Html.PartialAsync("_OrderPartialView", new OrderConfirmVM
                {
                TruckId = item.Id
                })
                    </td>
                }
                <td>
                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    </thead>


