@using TrucksTakov.Models.Statistics
@model StatisticsVM
@{
    ViewData["Title"] = "Statistics";
}

<h1 class="text-center">Statistics</h1>
<table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CountClients)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountTrucks)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountOrders)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SumOrders)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.CountClients)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CountTrucks)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CountOrders)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SumOrders)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>